.discover-our-story {
  .global-headline {
    margin-top: 6.9rem;

    .asterisk {
      color: $body-font-color;
      margin: 2.4rem 0;
    }

    .sub-headline {
      letter-spacing: -0.1rem;
      margin-right: -0.1rem;
    }
  }
}
