header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);

  .nav-item {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.3);

    .nav-link {
      text-transform: uppercase;
      display: block;
      color: #fff;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      margin-right: -0.2rem;
      transition: color 0.5s;

      &:hover {
        color: $secondary-font-color;
      }
    }
  }
}
