.hero {
  width: 100%;
  height: 100vh;
  background: url("../images/hero.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;

  .headline-description {
    h5 {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 100;
      text-transform: uppercase;
      margin-bottom: 1.2rem;
      letter-spacing: 0.3rem;
      margin-right: -0.3rem;
    }
    .cta-btn {
      font-size: 1.1rem;
      background-color: #fff;
      padding: 0.9rem 1.8rem;
      color: $body-font-color;
      border-radius: 0.4rem;
      transition: background-color 0.5s;

      &:hover,
      &:focus {
        background-color: $secondary-font-color;
        color: #fff;
      }
    }
    .separator {
      display: flex;
      align-items: center;
      justify-content: center;

      .line {
        width: 100%;
        max-width: 8.4rem;
        height: 0.25rem;
        background-color: #fff;
        position: relative;

        &.line-left::before,
        &.line-right::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border: 0.6rem solid transparent;
        }
        &.line-right::before {
          border-right-color: #fff;
          right: 0;
        }
        &.line-left::before {
          border-left-color: #fff;
          left: 0;
        }
      }
    }
  }
}
