@media #{$m-desktop} {
  // all sections
  section {
    padding: 7.9rem;
  }

  // global sub-headline
  .sub-headline {
    font-size: 10rem;

    .first-letter {
      font-size: 12.2rem;
    }
  }
  // global headline
  .headline {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }

  // social and form
  .social-media {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
  }
}
